<a href="https://colab.research.google.com/github/pedrohortencio/data-analysis-projects/blob/main/World%20Happiness%20Report/The_World_Happiness_Report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sobre os Dados

![](https://olatorera.com/wp-content/uploads/2020/03/world-happiness-report.png)

Para exemplificar o uso do _pandas_ e suas funções, iremos utilizar os dados do relatório de felicidade global, feito com base em várias fontes e usado por alguns governos como guia de ações públicas.

Serão duas tabelas (que vão ser convertidas em dataframe):

* O relatório de 2021, com ranking.
* O relatório com dados da série história, em alguns países com os indicadores de 2005 a 2020.

Os dados podem ser obtidos de várias fontes confiáveis:

* [Kaggle](https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021?select=world-happiness-report.csv)
* Do próprio site do [World Happiness Report](https://worldhappiness.report/ed/2021/#appendices-and-data), onde também é possível ler o relatório em formato PDF.

# Importando Bibliotecas

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

# Baixando os Dados

In [4]:
df_2021 = pd.read_excel("https://happiness-report.s3.amazonaws.com/2021/DataForFigure2.1WHR2021C2.xls")
df_2021.head()

  Country name  ... Dystopia + residual
0      Finland  ...            3.253415
1      Denmark  ...            2.868296
2  Switzerland  ...            2.839148
3      Iceland  ...            2.966945
4  Netherlands  ...            2.797818

[5 rows x 20 columns]

In [5]:
df_hist = pd.read_excel("https://happiness-report.s3.amazonaws.com/2021/DataPanelWHR2021C2.xls")
df_hist.head()

  Country name  year  ...  Positive affect  Negative affect
0  Afghanistan  2008  ...         0.517637         0.258195
1  Afghanistan  2009  ...         0.583926         0.237092
2  Afghanistan  2010  ...         0.618265         0.275324
3  Afghanistan  2011  ...         0.611387         0.267175
4  Afghanistan  2012  ...         0.710385         0.267919

[5 rows x 11 columns]