<a href="https://colab.research.google.com/github/pedrohortencio/data-analysis-projects/blob/main/NYC%20Parking%20Violations/NYC_Parking_Violations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Full violations data from NYC Open Data](https://data.cityofnewyork.us/City-Government/Parking-Violations-Issued-Fiscal-Year-2021/pvqr-7yc4)

[Raw .csv data (subset of 50,000 rows)](https://raw.githubusercontent.com/pedrohortencio/data-analysis-projects/main/NYC%20Parking%20Violations/violations.csv)


[Original project](https://towardsdatascience.com/learn-python-data-analytics-by-example-ny-parking-violations-e1ce1847fa2)

### Importing the data file

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
url = 'https://raw.githubusercontent.com/pedrohortencio/data-analysis-projects/main/NYC%20Parking%20Violations/violations.csv'

# Importing .csv from the URL
df = pd.read_csv(url)
df.head()

   Summons Number Plate ID  ... Hydrant Violation Double Parking Violation
0      4714702166  KGK6659  ...               NaN                      NaN
1      8793684599  L5232HY  ...               NaN                      NaN
2      8864757053   BPMN76  ...               NaN                      NaN
3      8778326047  57387MJ  ...               NaN                      NaN
4      4706640702   M81KFJ  ...               NaN                      NaN

[5 rows x 43 columns]

In [24]:
rows, columns = df.shape
print("Number of rows:", rows)
print("Number of columns:", columns)

Number of rows: 50000
Number of columns: 43

### Changing the 'Issue Date' column to a date format.

In [25]:
df['Issue Date'].dtype
# The 'Issue Data' is in a MM/DD/YYYY format,
# but pandas is treating it like a general object dtype

dtype('O')

In [26]:
# To fix this, a simple method is to use .to_datetime
df['Issue Date'] = pd.to_datetime(df['Issue Date'])
df['Issue Date'].dtype

dtype('<M8[ns]')

In [27]:
# Let's take a look
df.head()

   Summons Number Plate ID  ... Hydrant Violation Double Parking Violation
0      4714702166  KGK6659  ...               NaN                      NaN
1      8793684599  L5232HY  ...               NaN                      NaN
2      8864757053   BPMN76  ...               NaN                      NaN
3      8778326047  57387MJ  ...               NaN                      NaN
4      4706640702   M81KFJ  ...               NaN                      NaN

[5 rows x 43 columns]

### Searching for invalid data

In [28]:
# Searching for missing values
df.isna().sum()

Summons Number                           0
Plate ID                                 0
Registration State                       0
Plate Type                               0
Issue Date                               0
Violation Code                           0
Vehicle Body Type                      145
Vehicle Make                           136
Issuing Agency                           0
Street Code1                             0
Street Code2                             0
Street Code3                             0
Vehicle Expiration Date                  0
Violation Location                   17893
Violation Precinct                       0
Issuer Precinct                          0
Issuer Code                              0
Issuer Command                       17857
Issuer Squad                         17857
Violation Time                           1
Time First Observed                  48111
Violation County                       117
Violation In Front Of Or Opposite    18068
House Number                         18272
Street Name                             10
Intersecting Street                  27283
Date First Observed                      0
Law Section                              0
Sub Division                             2
Violation Legal Code                 32143
Days Parking In Effect               17857
From Hours In Effect                 30394
To Hours In Effect                   30394
Vehicle Color                         2417
Unregistered Vehicle?                47892
Vehicle Year                             0
Meter Number                         47850
Feet From Curb                           0
Violation Post Code                  19965
Violation Description                27198
No Standing or Stopping Violation    50000
Hydrant Violation                    50000
Double Parking Violation             50000
dtype: int64

There are a bunch of columns with huge number of NaN entries.

```No Standing or Stopping Violation```, ```Hydrant Violation ``` and ```Double Parking Violation``` have all rows with NaN values.

```Meter Number```, ```Unregistered Vehicle? ``` and ```Time First Observed``` have over 47k rows with missing values.

```Violation Legal Code ```, ```From Hours In Effect  ``` and ```To Hours In Effect ``` have over 30k rows with missing values.

As most of these problematic columns aren't useful for my analysis, I'll drop all of them and those I don't consider useful right now.

In [29]:
columns_to_keep = ['Violation Code', 'Vehicle Make',
                   'Issue Date', 'Plate Type', 'Vehicle Year',
                   'Violation Time', 'Registration State']

df.drop(df.columns.difference(columns_to_keep), 1, inplace=True)

df.head()

  Registration State Plate Type  ... Violation Time  Vehicle Year
0                 NY        PAS  ...          0637P          2007
1                 TN        PAS  ...          0853A             0
2                 FL        PAS  ...          0853A             0
3                 NY        COM  ...          0444P          2016
4                 NJ        PAS  ...          0723A          2002

[5 rows x 7 columns]

In [30]:
# Checking missing values again:
df.isna().sum()

Registration State      0
Plate Type              0
Issue Date              0
Violation Code          0
Vehicle Make          136
Violation Time          1
Vehicle Year            0
dtype: int64

In [31]:
# Inspecting the 'Registration State' column
df["Registration State"].unique()
# The '99' entry doesn't mean anything and it's possible a missing value.

array(['NY', 'TN', 'FL', 'NJ', 'MA', 'PA', 'MD', 'CT', 'TX', 'CA', 'IL',
       'IN', 'OR', 'AZ', 'QB', 'WA', 'GA', 'CO', 'GV', 'NC', 'ME', 'DE',
       'VA', 'MN', '99', 'WV', 'OH', 'NH', 'AR', 'DC', 'SC', 'NV', 'SD',
       'RI', 'MO', 'LA', 'NM', 'OK', 'AL', 'IA', 'MT', 'MI', 'NE', 'ID',
       'KY', 'VT', 'WI', 'MS', 'ON', 'HI', 'KS', 'UT', 'AK', 'FO', 'PR',
       'DP', 'WY', 'AB', 'ND'], dtype=object)

In [32]:
# Examining the rows where "Registration State" is 99 we can see that the "Plate Type"
# also has a missing value entry: '999'
df[df['Registration State'] == "99"]

      Registration State Plate Type  ... Violation Time  Vehicle Year
450                   99        999  ...          0258P             0
8177                  99        999  ...          0123P          2009
8371                  99        999  ...          1050P          2008
9097                  99        999  ...          0839A             0
10194                 99        COM  ...          0820A          2010
...                  ...        ...  ...            ...           ...
47496                 99        999  ...          0955A             0
48018                 99        PAS  ...          1240A          2014
49639                 99        PAS  ...          0904A             0
49653                 99        PAS  ...          0825A             0
49959                 99        999  ...          0117P             0

[70 rows x 7 columns]

In [35]:
# Let's discart these rows, along with the ones that have some column with NaN value:

df = df[(df['Registration State'] != "99") 
    & (df['Plate Type'] != "999")
    & (df['Vehicle Make'].notnull()) 
    & (df['Violation Time'].notnull())]

In [37]:
# Sanity check
df[df['Registration State'] == "99"]

Empty DataFrame
Columns: [Registration State, Plate Type, Issue Date, Violation Code, Vehicle Make, Violation Time, Vehicle Year]
Index: []

Let's see if there are wrong dates in the "Issue Date" column

In [38]:
# Dates before 04/01/2020 (beggining of the fiscal year)
df[df["Issue Date"] <= '2020-04-01']

      Registration State Plate Type  ... Violation Time  Vehicle Year
5478                  NY        PAS  ...          0743A          2006
38476                 NY        PAS  ...          0354P          2019
39623                 NY        PAS  ...          0939A          2007

[3 rows x 7 columns]

In [39]:
# Dates after 11/30/2020 (the end of the fiscal year)
df[df["Issue Date"] >= '2020-11-30']

      Registration State Plate Type  ... Violation Time  Vehicle Year
26544                 NY        PAS  ...          0954A          2014
29120                 NY        PAS  ...          1123A             0
29947                 NY        PAS  ...          1206P          2014
48186                 NY        PAS  ...          0739A          2003

[4 rows x 7 columns]

In [40]:
# Let's discard these rows:

df = df[(df['Issue Date'] >= '2020-04-01') 
        & (df['Issue Date'] <= '2020-11-30')]

Dealing with the other two columns

In [41]:
# "Violation Code"

df['Violation Code'].unique()
# it looks alright

array([36, 21, 20, 74, 38, 14,  7, 40, 31, 16, 50, 69, 68, 17, 46, 84, 19,
       42,  5, 37, 33, 10, 78, 70, 51, 47, 82, 66, 61, 98, 53, 94, 71,  8,
       41, 45, 72, 99, 12, 18, 77,  9, 48, 83, 22, 67, 39, 85, 76, 13, 52,
       60,  6, 24, 75, 64, 11, 73,  4, 87, 54, 35, 56, 62, 27, 96, 91, 44,
       26, 49, 89, 80, 95, 79, 63,  1, 59])

In [43]:
# "Vehicle Year"
df['Vehicle Year'].unique()
# definitely numbers like 0 and bigger than 2020 shouldn't be here

array([2007,    0, 2002, 2017, 2008, 2016, 2018, 2006, 2019, 2013, 2004,
       2005, 2010, 2020, 1997, 2012, 2009, 2015, 2014, 2011, 2003, 2021,
       2001, 1991, 1998, 1995, 1999, 1994, 1990, 1992, 1989, 1993, 1996,
       1985, 2054, 1977, 1988, 1978, 1987, 2066, 1984, 1986, 1976, 1982,
       1983, 2069, 1979, 2062])

In [44]:
df = df[(df['Vehicle Year'] != 0) 
    & (df['Vehicle Year'] <= 2020)]

In [47]:
rows, columns = df.shape

print("After data processing")
print("Rows:", rows)
print("Columns:", columns)

After data processing
Rows: 38937
Columns: 7

11063 rows were discarted.

###Plotting