<a href="https://colab.research.google.com/github/pedrohortencio/data-analysis-projects/blob/main/NYC%20Parking%20Violations/NYC_Parking_Violations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Full violations data from NYC Open Data](https://data.cityofnewyork.us/City-Government/Parking-Violations-Issued-Fiscal-Year-2021/pvqr-7yc4)

[Raw .csv data (subset of 50,000 rows)](https://raw.githubusercontent.com/pedrohortencio/data-analysis-projects/main/NYC%20Parking%20Violations/violations.csv)


[Original project](https://towardsdatascience.com/learn-python-data-analytics-by-example-ny-parking-violations-e1ce1847fa2)

### Importing the data file

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [38]:
url = 'https://raw.githubusercontent.com/pedrohortencio/data-analysis-projects/main/NYC%20Parking%20Violations/violations.csv'

# Importing .csv from the URL
df = pd.read_csv(url)
df.head()

   Summons Number Plate ID  ... Hydrant Violation Double Parking Violation
0      4714702166  KGK6659  ...               NaN                      NaN
1      8793684599  L5232HY  ...               NaN                      NaN
2      8864757053   BPMN76  ...               NaN                      NaN
3      8778326047  57387MJ  ...               NaN                      NaN
4      4706640702   M81KFJ  ...               NaN                      NaN

[5 rows x 43 columns]

In [39]:
rows, columns = df.shape
print("Number of rows:", rows)
print("Number of columns:", columns)

Number of rows: 50000
Number of columns: 43

### Changing the 'Issue Date' column to a date format.

In [27]:
df['Issue Date'].dtype
# The 'Issue Data' is in a MM/DD/YYYY format,
# but pandas is treating it like a general object dtype

dtype('O')

In [29]:
# To fix this, a simple method is to use .to_datetime
df['Issue Date'] = pd.to_datetime(df['Issue Date'])
df['Issue Date'].dtype

dtype('<M8[ns]')

In [30]:
# Let's take a look
df.head()

   Summons Number Plate ID  ... Hydrant Violation Double Parking Violation
0      4714702166  KGK6659  ...               NaN                      NaN
1      8793684599  L5232HY  ...               NaN                      NaN
2      8864757053   BPMN76  ...               NaN                      NaN
3      8778326047  57387MJ  ...               NaN                      NaN
4      4706640702   M81KFJ  ...               NaN                      NaN

[5 rows x 43 columns]

### Searching for invalid data

In [31]:
# Searching for missing values
df.isna().sum()

Summons Number                           0
Plate ID                                 0
Registration State                       0
Plate Type                               0
Issue Date                               0
Violation Code                           0
Vehicle Body Type                      145
Vehicle Make                           136
Issuing Agency                           0
Street Code1                             0
Street Code2                             0
Street Code3                             0
Vehicle Expiration Date                  0
Violation Location                   17893
Violation Precinct                       0
Issuer Precinct                          0
Issuer Code                              0
Issuer Command                       17857
Issuer Squad                         17857
Violation Time                           1
Time First Observed                  48111
Violation County                       117
Violation In Front Of Or Opposite    18068
House Number                         18272
Street Name                             10
Intersecting Street                  27283
Date First Observed                      0
Law Section                              0
Sub Division                             2
Violation Legal Code                 32143
Days Parking In Effect               17857
From Hours In Effect                 30394
To Hours In Effect                   30394
Vehicle Color                         2417
Unregistered Vehicle?                47892
Vehicle Year                             0
Meter Number                         47850
Feet From Curb                           0
Violation Post Code                  19965
Violation Description                27198
No Standing or Stopping Violation    50000
Hydrant Violation                    50000
Double Parking Violation             50000
dtype: int64

There are a bunch of columns with huge number of NaN entries.

```No Standing or Stopping Violation```, ```Hydrant Violation ``` and ```Double Parking Violation``` have all rows with NaN values.

```Meter Number```, ```Unregistered Vehicle? ``` and ```Time First Observed``` have over 47k rows with missing values.

```Violation Legal Code ```, ```From Hours In Effect  ``` and ```To Hours In Effect ``` have over 30k rows with missing values.

As most of these problematic columns aren't useful for my analysis, I'll drop all of them and those I don't consider useful right now.

In [33]:
columns_to_keep = ['Violation Code', 'Vehicle Make',
                   'Issue Date', 'Plate Type', 'Vehicle Year',
                   'Violation Time', 'Registration State']

df.drop(df.columns.difference(columns_to_keep), 1, inplace=True)

df.head()

  Registration State Plate Type  ... Violation Time  Vehicle Year
0                 NY        PAS  ...          0637P          2007
1                 TN        PAS  ...          0853A             0
2                 FL        PAS  ...          0853A             0
3                 NY        COM  ...          0444P          2016
4                 NJ        PAS  ...          0723A          2002

[5 rows x 7 columns]

In [34]:
# Checking missing values again:
df.isna().sum()

Registration State      0
Plate Type              0
Issue Date              0
Violation Code          0
Vehicle Make          136
Violation Time          1
Vehicle Year            0
dtype: int64